<p style="color: green"><%= notice %></p>

<h1>Menus</h1>
<%= link_to "New menu", new_menu_path, class: "btn btn-primary" %>

<div id="menus">
  <% @menus.each do |menu| %>
    <%= render menu %>
  <% end %>
</div>


